body {
    margin: 0;
    color: #301934;
}

h1 {
    font-family: 'Italianno', cursive;
    font-size: 70px;
    margin-top: 0px;
    padding-top: 20px;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    opacity: 0.6;
    text-decoration: none;
}

#black {
    background: #301934 url("../img/backback.png");
    background-size: auto 100%;
    width: 50vw;
    margin: 0;
    color: white;
    text-align: center;
    overflow:hidden;
}

.menu {
    position: absolute;
    width: 20%;
    top: 40%;
    left: 40%;
    display: none;
    padding: 0 10px;
    border-radius: 5%;
    text-align: center;
    font-size: 18px;
}

#white .and {
    position: absolute;
    left: -20px;
    top: 40%;
    font-size: 90px;
    font-family: 'Italianno', cursive;
}

#black .and {
    position: absolute;
    right: -20px;
    top: 40%;
    font-size: 90px;
    font-family: 'Italianno', cursive;
}

#black .menu {
    border: white 1px solid;
}


#white .menu {
    border: #301934 1px solid;
}

#black:hover, #white:hover {
    opacity: 0.8;
}

.my-container:hover .menu {
    display: block;
}

.my-container:hover .middle-text {
    display: none;
}

#white {
    text-align: center;
    background: url("../img/backback2.png") white no-repeat 74% center;
    background-size:  auto 150%;
    color: #301934;
    float: right;
    left: 0;
    width: 50vw;
    overflow:hidden;
}
.middle-text {
    line-height: 100vh;
    vertical-align: center;
    font-family: 'Italianno', cursive;
    font-size: 70px;
}

.menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-list li {
    padding: 15% 0;
}

#black .menu .menu-list li:first-child {

    border-bottom: white 1px solid;

}

#white .menu .menu-list li:first-child {

    border-bottom: #301934 1px solid;

}

.my-container {
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;

}

.my-container:nth-child(even) {
    color: #ffffff;
    background: #301934;
}

#About {
    background: white url("../img/face.png") no-repeat right top fixed;
    background-size:  auto 100%;
}
#Contact {
    background: #301934 url("../img/cracow.png") no-repeat fixed;
    background-size: cover;
}

#backToTop {
    color: white;
    background: #301934;
    padding: 10px;
    border-radius: 5%;
    position: fixed;
    bottom: 5%;
    right: 2%;
    font-family: 'Italianno', cursive;
    font-size: 18px;
}